.DS_Store
thanks-server/.idea/*
*.ipr
*.iws
thanks-server/thanks/build/*
*.class
thanks-server/out/*
thanks-server/thanks/.gradle/*
.idea/compiler.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
