.DS_Store
thanks-server/.idea/*
*.ipr
*.iws
thanks-server/thanks/build/*
*.class
thanks-server/out/*
thanks-server/thanks/.gradle/*
thanks-server/thanks/.idea/libraries/Gradle__org_springframework_data_spring_data_jpa_1_9_4_RELEASE.xml
thanks-server/thanks/.idea/
.idea/compiler.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
thanks-server/.gradle
